
<div>

<form action="tools/markup" method="GET">
  <input class="new-button" type="submit" value="Manage Markup"/>
</form>

</br>

<form action="tools/optimize_winter" method="GET">
  <input class="new-button" type="submit" value="Optimize Profits for Winter"/>
</form>

</br>

<form action="tools/optimize_summer" method="GET">
  <input class="new-button" type="submit" value="Optimize Profits for Summer"/>
</form>


</div>
