<!-- from manuf/index before loop end! -->

<form action="manuf/<%= brand.id%>/edit" method="GET">
<input class="info-button" type="submit" value="Update Brand Information"/>
</form>

<form action="manuf/<%= brand.id%>/delete" method="POST">
<input class="info-button" type="submit" value="Delete Brand"/>
</form>
