
<div class="grid-row">
  <form  method="get" action="/items">
    <input class ="Main-button" type="submit" value="All Current Inventory"/>
  </form>
  <form method="get" action="/manuf">
    <input class ="Main-button" type="submit" value="All My Brands"/>
  </form>
  <form method="get" action="/tools">
    <input class ="Main-button" type="submit" value="Inventory & Sales Tools"/>
  </form>
  </div>
<img class="logo" src="../public/images/AdventuresRUs-logo.png" alt="AdventuresRUs Mountain Logo">
