<h2>Warehouser:</h2>
<h3>The smart way to manage inventory and optimize sales</h3>

<p>Get started managing your wares:</p>
<div class ="Main-button">
  <form method="get" action="/items">
    <input type="submit" value="All Current Inventory"/>
  </form>
  <form method="get" action="/manuf">
    <input type="submit" value="All My Brands"/>
  </form>
  <form method="get" action="/tools">
    <input type="submit" value="Inventory & Sales Tools"/>
  </form>
</div>
