<h3>The smart way to manage inventory and optimize sales</h3>


  <form class ="Main-button" method="get" action="/items">
    <input type="submit" value="All Current Inventory"/>
  </form>
  <form class ="Main-button" method="get" action="/manuf">
    <input type="submit" value="All My Brands"/>
  </form>
  <form class ="Main-button" method="get" action="/tools">
    <input type="submit" value="Inventory & Sales Tools"/>
  </form>

<img class="logo" src="../public/images/AdventuresRUs-logo.png" alt="AdventuresRUs Mountain Logo">
