<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Warehouser</title>

</head>
<body>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Stock</a></li>
      <li><a href="/manufacturers">Manufacturers</a></li>
      <li><a href="/items">Products</a></li>
      <li><a href="/tools">Inventory & Sales Tools</a></li>
    </ul>
  </nav>

  <h1>Warehouser</h1>

<%= yield %>

</body>
</html>
