<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/style.css'>
  <title>Warehouser</title>

</head>
<body>

  <header class="header">
    <img class="logonav" src="/images/GreenAdventuresRUs-logo.png" alt="AdventuresRUs Mountain Logo">

    <h1>Adventures R Us Warehouser</h1>
    <h4>Warehouser: The smart way to manage inventory and optimize sales</h4>

    <!-- <img class="logonav" src="/images/GreenAdventuresRUs-logo.png" alt="AdventuresRUs Mountain Logo"> -->

  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Inventory</a></li>
      <li><a href="/manuf">Brands</a></li>
      <li><a href="/tools/markup">Tools</a></li>
    </ul>
  </nav>


<%= yield %>

</body>
</html>
