body {
  background: #A4C3B2;
  color: #F6FFF8;
  font-family: "Comic Sans MS", sans-serif;
}

.header {
  display: block;
  padding: 30px;
  text-align: center;
  background: #6B9080;
  color: #F6FFF8;
  justify-content: center;
}

.grid-row {
  display: flex;
  /* change to column b/c set media */
  flex-direction: row;
}

.Main-button {
  color: #EAF4F4;
  background-color: #6B9080;
  border: #F6FFF8;
  font-family: "Comic Sans MS", sans-serif;
  padding: 5px;
}

.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Special Elite', cursive;
}

.info-button {
  color: #EAF4F4;
  background-color: #6B9080;
  font-family: "Comic Sans MS", sans-serif;
  padding: 5px;
}

.new-button {
  color: #EAF4F4;
  background-color: #6B9080;
  border: #F6FFF8;
  font-size: 18px;
  font-family: "Comic Sans MS", sans-serif;
  padding: 5px;
}

/* these are the update markup buttons!  */
.update-markup {
  color: #EAF4F4;
  background-color: #6B9080;
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
}

nav ul {
  color: #6B9080;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

/* this is the best way to style links! */
li a, li a:link, li a:visited {
  text-decoration: none;
  color: #F6FFF8;
  padding: 10px;
}

li a:hover, li a:active, li a:focus {
background: #6B9080;
}

table {
  border-collapse: collapse;
  background-color: #CCE3DE;
}


th {
  border: 1px solid #122C34;
  padding: 10px;
  background-color: #6B9080;
}

td {
  border: 1px solid #122C34;
  padding: 10px;
  color: #6B9080;
}
