body {
  background: #A4C3B2;
  color: #F6FFF8;
  font-family: "Avant Garde", sans-serif;
}

.header {
  display: block;
  padding: 30px;
  text-align: center;
  background: #6B9080;
  color: #F6FFF8;
  justify-content: center;
}

.grid-row {
  display: flex;
  flex-direction: row;
  /* color: #EAF4F4;
  background-color: #6B9080;
  border: #F6FFF8;
  font-family: "Verdana", sans-serif;
  justify-content: space-around;
  padding: 5px; */
}

.Main-button {
  /* color: #EAF4F4;
  background-color: #6B9080;
  border: #F6FFF8;
  font-family: "Verdana", sans-serif;
  justify-content: space-around;
  padding: 5px; */

  /* border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: "Comic Sans MS", sans-serif; */
}


.info-button {
  color: #EAF4F4;
  background-color: #6B9080;
  font-family: "Avant Garde", sans-serif;
  padding: 5px;
}

.new-button {
  color: #EAF4F4;
  background-color: #6B9080;
  border: #F6FFF8;
  font-size: 18px;
  font-family: "Avant Garde", sans-serif;
  padding: 5px;
}

/* I want to highlight the field which will actually update
the markup if changed (aka the retail price)!  */
.update-markup {
  color: #EAF4F4;
  font-size: 16px;
  font-family: "Avant Garde", sans-serif;
}

nav ul {
  color: #6B9080;
  display: flex;
  padding: 20;
  justify-content: space-around;
  border-bottom: 1px solid #6B9080;
  border-top: 1px solid #6B9080;
  /* margin: 20; */
}

li {
  list-style-type: none;
}

/* this is the best way to style links! */
li a, li a:link, li a:visited {
  text-decoration: none;
  color: #F6FFF8;
  padding: 10px;
}

li a:hover, li a:active, li a:focus {
background: #c1a5a9;
}

table {
  border-collapse: collapse;
  background-color: #CCE3DE;
}


th {
  border: 1px solid #122C34;
  padding: 10px;
  background-color: #6B9080;
}

td {
  border: 1px solid #122C34;
  padding: 10px;
  color: #6B9080;
}

tr:hover {
  background: #c1a5a9;
}
tr:hover td {
  color: #F6FFF8;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.logonav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
