<h2>Add a Brand Manufacturer </h2>

<form action="/manuf" method="POST">

  <label for="name">Name of Brand:</label>
  <input id="name" type="text" name="name"/>

  <label for="sector">Select Outdoor Industry Sector:</label>
    <select id="sector" name="sector">
      <option value="Gear">Gear</option>
      <option value="Clothing">Clothing</option>
      <option value="Technical Clothing">Technical Clothing</option>
      <option value="Gear & Technical Clothing">Gear & Technical Clothing</option>
      <option value="Reference Material">Reference Material</option>
    </select>

  <input class="info-button" type='submit' value="Add stock to inventory">
</form>
