<h1>Add A New Product</h1>

<h3>Enter Item Information:</h3>

<form action="/items" method="POST">

  <label for="product"> Product Name:</label>
  <input id="product" type="text" name="product"/>

  <label for="cat"> Product Category:</label>
  <input id="cat" type="text" name="category"/>

  <label for="wholesale">Wholesale Price:</label>
  <input id="wholesale" type="number" name="costprice"/>

  <label for="retail">Retail Price:</label>
  <input id="retail" type="number" name="sellprice"/>

  <label>Select a Brand:
    <select name="manuf_id">
      <% for brand in @manufacturers %>
      <option value="<%= brand.id %>"><%= brand.name %></option>
      <% end %>
    </select>
  </label>

  <label for="quant">Quantity:</label>
  <input id="quant" type="number" name="quantity"/>

  <input class="info-button" type='submit' value="Add Item To Inventory">
</form>
